{% extends 'base.html' %}
{% block content %}
    <div class="max-w-lg mx-auto bg-gray-800 p-4 sm:p-6 rounded-lg shadow-lg mt-8">
        <img src="{% if profile.profile_picture %}{{ profile.profile_picture.url }}{% else %}/static/default.jpg{% endif %}" class="w-20 h-20 sm:w-24 sm:h-24 rounded-full mx-auto mb-4 object-cover">
        <h1 class="text-xl sm:text-2xl font-bold text-white text-center">{{ profile.user.username }}</h1>
        <p class="text-gray-300 text-center mb-4 break-words">{{ profile.bio|default:"No bio yet." }}</p>
        <p class="text-gray-400 text-center mb-4">Following: {{ profile.following.count }} | Followers: {{ profile.followers.count }}</p>
        {% if profile.user != user %}
            <a href="{% url 'follow' profile.id %}" class="block text-center bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded-full mb-4 transition duration-300">
                {% if profile in user.profile.following.all %}Unfollow{% else %}Follow{% endif %}
            </a>
        {% endif %}
        {% if profile.user == user %}
            <form method="post" enctype="multipart/form-data" class="space-y-4">
                {% csrf_token %}
                <textarea name="bio" class="w-full resize-y" placeholder="Your bio">{{ profile.bio }}</textarea>
                <div class="flex flex-col sm:flex-row items-start sm:items-center space-y-2 sm:space-y-0 sm:space-x-4">
                    <label for="profile_picture" class="text-gray-300 font-semibold shrink-0 text-sm sm:text-base">Profile Picture:</label>
                    <div class="custom-file-input flex-1">
                        <input type="file" id="profile_picture" name="profile_picture" onchange="updateFileName(this)">
                        <label for="profile_picture" class="flex items-center">
                            <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16V4m0 12l-4-4m4 4l4-4m6 4v-6a2 2 0 00-2-2h-6a2 2 0 00-2 2v6m6 0l4 4m-4-4l-4 4"></path>
                            </svg>
                            <span id="profile_picture-label">Choose a file</span>
                        </label>
                    </div>
                </div>
                <button type="submit" class="bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded-full w-full transition duration-300">Update</button>
            </form>
        {% endif %}
    </div>
{% endblock %}